<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Search for Restaurants</title> 
        <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class = "header">
        <form>
            <h1> Find Restaurants Near You </h1>
            <div class="form-box">
            <input type="text" class="search-field restaurant" placeholder="Resturants">

            <input type="text" class="search-field location" placeholder="Location">

            <button class="search-btn" type="button">Search</button>

            </div>

        </form>
    </div>
    
</body>
</html>
